/* GROUP ITEM */ 

.group-item {
  min-width: 100%;
  box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  padding-left: 2rem;
  background-color: white;
  cursor: pointer;
  margin-bottom: 1rem;
  }


.private-item {
  
  margin-right: 40px;
  color: white;
  padding: 8px;
  border-radius: 20px;
  background-color: var(--blue);
}


/* MEMBER ICON */

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--blue);
  color: white;
  margin: 5px;
}

.profile-icon p {
  font-size: small;
  text-align: center;
  margin-top: 20%;
}

/* MODULO */

.modulo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modulo-box {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

/* Buttons */

.modulo-actions {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

/* NEW GROUP */

.new-group-name {
  width: 20rem;
  resize: none;
  height: 2rem;
  padding: 5px;
  border-style: none;
  border-radius: 5px;
  background-color: var(--bluewhite);
}

.new-group-desc {
  width: 20rem;
  resize: none;
  height: 10rem;
  padding: 5px;
  border-style: none;
  border-radius: 5px;
  background-color: var(--bluewhite);
}

.new-group-private-check {
  display: flex;
  justify-content: space-between;
}

/* Toggle */

label {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
}

.private-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.private-input-span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c3e50;
  transition: 0.3s;
  border-radius: 25px;
}

.private-input-span:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.6px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.private-input:checked + .private-input-span {
  background-color: #47e88a;
}

.private-input:checked + .private-input-span:before {
  transform: translateX(29px);
}

/* INVITE */

.user-search {
  position: relative;
  display: flex;
  height: 75px;
  width: 100%;
}

.user-search-container {
  display: flex;
  width: 100%;
}

.user-search p {
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.user-search-field {
  padding: 5px 5px;
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
  width: 75%;
  height: 60%;
  margin: auto 0;
}

.user-search-icon {
  width: 30px;
  height: auto;
  cursor: pointer;
  margin-left: 10px;
}

.user-list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 75%;
  background-color: white;
  z-index: 50;
}

.user-list-item {
  display: flex;
  gap: 2%;
  padding: 10px;
  border: solid 1px lightgray;
  transition: .1s ease-in-out;
  width: 100%;
}

.user-list-item p {
  margin: auto 0 auto 0;
}

.user-list-item:hover {
  background-color: #e8ebf1;
  cursor: pointer;
}

.user-search .post-profile-pic {
  min-width: 50px !important;
  margin: auto 10px auto 0;
}

.user-recipient {
  display: flex;
  gap: 2%;
  padding: 10px;
  border: solid 1px lightgray;
  transition: .1s ease-in-out;
  max-width: 100%;
  border-radius: 40px;
}

.user-recipient button {
  margin: auto 15px auto auto;
  min-width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: transparent;
  color: var(--blue);
  border: none;
  transition: .15s ease-in-out;
  font-size: 1.2rem;
}

.user-recipient button:hover {
  cursor: pointer;
  background-color: #edeaea;
}
