.group-item {
    width: 600px;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: left;
    display: grid;
    box-shadow: 5px 5px 5px rgb(204, 206, 207);
  }

.group-name {
    color: black;
    padding: 5px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--blue);
  color: white;
  grid-column-start: 8;
  grid-column-end: 9;
  margin: 5px;
}

.profile-icon p {
  font-size: small;
  text-align: center;
  margin-top: 20%;
}