
.user-search-field {
    padding: 5px 5px;
    margin: 0 0.5rem;
    border: none;
    border-bottom: 1px solid black;
    background-color: inherit;
}
.user-search-icon {
    width: 25px;
    height: auto;
    cursor: pointer;
}