.post {
  background-color: white;
  padding: 35px 50px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.post-head,
.post-body,
.post-footer {
  display: flex;
  align-items: center;
}

.post-feed {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;
}

.post-head {
  justify-content: space-between;
  margin-bottom: 15px;
}

.post-head h2 {
  font-weight: 800;
  font-size: 1.5rem;
}

.post-head p {
  font-weight: 100;
  color: var(--lightgray);
}

.post-edit-button {
  background: none;
  color: darkgray;
  border: none;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  transition: .1s ease-in-out;
  font-size: 1.5rem;
  margin-right: 15px;
}
.post-edit-button:hover {
  cursor: pointer;
  background: #e6e6e6;
}

.post-author-details p {
  text-align: right;
}
.author-name {
  font-size: .8rem;
}
.author-title {
  font-size: .7rem;
  color: var(--blue);
  opacity: .8;
}

.nav-tag {
  text-decoration: none !important;
}

.post-body {
  margin-bottom: 50px;
}

.post-comments {
  display: flex;
  align-items: center;
  color: var(--lightgray);
}
.post-comments p {
  cursor: pointer;
}
.post-comments p:hover {
  border-bottom: solid 2px lightgray;
  margin-bottom: -2px;
}

.post-comments img {
  width: 40px;
  margin-right: 10px;
}

.post-footer {
  justify-content: space-between;
  margin-top: 15px;
}
.post-tags {
  display: flex;
}

.post-author {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-author p {
  margin-right: 10px;
}

.all-comments-h2 {
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
}

/** THREAD **/

/** RESPONSE **/

.post-response {
  background-color: var(--offwhite);
  padding: 20px 30px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.post-author-cnt {
  display: flex;
  align-items: center;
  width: 25%;
}

.post-profile-pic {
  margin-right: 10px;
  min-width: 50px;
}

.response-author {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 20px;
  min-width: 80px;
}

.post-response-author p {
  color: rgb(53, 53, 53);
  font-size: 0.8rem;
}

.post-time {
  color: var(--lightgray);
  font-size: 0.7rem;
}

.post-response-form {
  margin-top: 50px;
  display: flex;
}

.post-response-text {
  border-left: solid 1px darkgray;
  min-height: 50px;
  padding-left: 20px;
  display: flex;
  width: 75%;
}
.post-response-text p {
  font-size: .9rem;
  margin: auto 0 auto 0;
}
.post-response-counter {
  margin: auto 0 auto 0;
  color: #c7c7c7;
  width: 100px;
  text-align: right;
}

.post-response-input {
  border-radius: 15px 0 0 15px;
  border-style: none;
  background-color: var(--offwhite);
  width: 500px;
  height: 60px;
  padding: 10px 20px;
  font-size: 1rem;
  outline: none;
}

.post-response-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.sub-replies {
  width: 100%;
}
.sub-reply {
  display: grid;
  grid-template-columns: 8% 92%;
}
.sub-replies-indicator {
  grid-column: 1;
  border-left: solid 2px #e0e0e0;
  border-bottom: solid 2px #e0e0e0;
  margin-left: auto;
  width: 50%;
  height: 45px;
  margin-top: 20px;
}

.reply-button {
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: darkgrey;
  transition: .1s ease-in-out;
}
.reply-button:hover {
  background: #e8e8e8;
  cursor: pointer;
}

.replying-button {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 15px;
  box-shadow: var(--box-shadow);
  margin-left: auto;
}
.replying-button p {
  margin: auto 15px auto 0;
  color: var(--blue);
}
.replying-button button {
  margin: auto auto auto 15px;
  color: var(--blue) !important;
  font-size: 1.2rem;
}
.replying-button .profilepicture-container {
  margin: auto 0 auto 0;
}

.no-comments-tag {
  display: flex;
  width: 100%;
  height: 125px;
  color: #8b8b8b;
  background-color: #f4f4f4;
  opacity: .7;
}
.no-comments-tag p {
  margin: auto;
  text-align: center;
}

.editimg {
  width: 30px;
}

.post-response-submit{
  height: 60px !important;
  border-radius: 0 15px 15px 0;
  font-size: 1.2rem;
  box-shadow: none;
  background: whitesmoke;
  color: var(--blue);
}