.post {
  background-color: white;
  padding: 35px 50px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.post-cnt {
  cursor: pointer;
}

.post-head,
.post-body,
.post-footer {
  display: flex;
  align-items: center;
}

.post-head {
  justify-content: space-between;
  margin-bottom: 15px;
}

.post-head h2 {
  font-weight: 800;
  font-size: 1.5rem;
}

.post-head p {
  font-weight: 100;
  color: var(--lightgray);
}

.post-body {
  margin-bottom: 50px;
}

.post-comments {
  display: flex;
  align-items: center;
  color: var(--lightgray);
}

.post-comments img {
  width: 40px;
  margin-right: 10px;
}

.post-footer {
  justify-content: space-between;
}
.post-tags {
  display: flex;
}

.post-author {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-author p {
  margin-right: 10px;
}

.all-comments-h2 {
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
}

/** THREAD **/

/** RESPONSE **/

.post-response {
  background-color: var(--offwhite);
  padding: 20px 50px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.post-author-cnt {
  display: flex;
  align-items: center;
  min-width: 22%;
}

.post-profile-pic {
  margin-right: 10px;
  min-width: 50px;
}

.response-author {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 20px;
  min-width: 80px;
}

.post-response-author p {
  color: rgb(53, 53, 53);
  font-size: 0.8rem;
}

.post-time {
  color: var(--lightgray);
  font-size: 0.7rem;
}

.vertical-stroke {
  width: 1px;
  height: 90%;
  background-color: black;
}

.post-response-text p {
  font-size: 0.8rem;
}

.post-response-input {
  border-radius: 9px;
  border-style: none;
  background-color: var(--offwhite);
  width: 400px;
  height: 60px;
  padding: 10px 20px;
  margin-top: 50px;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
}

.editimg {
  width: 30px;
}

