
@media screen and (min-width: 901px){
    .popup {
        padding-top: 3%;
    }
    .popup .child-container {
        width: 40%;
    }
}
@media screen and (max-width: 900px){
    .popup {
        padding-top: 5%;
    }
    .popup .child-container {
        width: 90%;
    }
}

.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
}

.popup .child-container {
    position: relative;
    display: flex;
    background: white;
    border-radius: 15px;
    padding: 2%;
    height: 90%;
}