
.snarkdown-text h1,
.snarkdown-text h2,
.snarkdown-text h3 {
    color: #2954b2;
    margin-bottom: 15px;
    margin-top: 15px;
}
.snarkdown-text h1 {
    font-size: 1.5rem;
}
.snarkdown-text h2 {
    font-size: 1.2rem;
}
.snarkdown-text h3 {
    font-size: .9rem;
}