

@media screen and (min-width: 801px) {
    .timeline-head {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 800px) {
    .timeline-head {
        flex-direction: column;
        justify-content: right;
    }
}


.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.timeline-content {
    min-width: 60vw;
}

.timeline-content h1 {
  font-size: 2rem;
}

.timeline-head {
  margin-top: 60px;
  display: flex;
}

.timeline-action-btn-cnt {
    display: flex;
}

.timeline-action-btn-cnt img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 20px;
}

.timeline-tags {
  display: flex;
}

.timeline-feed {
    display: flex;
    flex-direction: column;
    gap: 30px;
  margin-top: 20px;
}

.search-cnt {
    display: flex;
    border-radius: 9px;
    margin-right: 10px;
  
}

.search-input {
    background-color: white;
    padding-left: 10px;
    border-style: none;
    border-radius: 9px;
    
}

.search-cnt-active {
    background-color: white;
    box-shadow: var(--box-shadow);
}

@keyframes searchfield {
    0% {
        
    }
}



