

@media screen and (min-width: 801px) {
    .timeline-head {
        flex-direction: row;
        justify-content: space-between;
    }
    .timeline-action-btn-cnt {
        flex-direction: row;
    }
    .timeline-tags {
        max-width: 50%;
    }
    .timeline .search-cnt {
        margin-right: 15px;
    }
}

@media screen and (max-width: 800px) {
    .timeline-head {
        flex-direction: column;
        justify-content: right;
        gap: 15px;
    }
    .timeline-tags {
        max-width: 100%;
    }
    .timeline .search-cnt {
        margin-right: 15px;
    }
}


.timeline {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.timeline-content {
    width: 100%;
}

.sub-topics {
    color: rgb(88, 88, 88);
    font-size: 0.9rem;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 600;
}



.timeline-content h1 {
  font-size: 2rem;
}

.timeline-head {
    margin-top: 60px;
    margin-bottom: 40px;
  display: flex;
  min-width: 100%;
}


.timeline-action-btn-cnt {
    display: flex;
    max-height: 50px;
}

.timeline-action-btn-cnt img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 20px;
}

.timeline-tags {
  display: inline-flex;
  flex-wrap: wrap;
    gap: 15px;
}

.timeline-sort-tag {
    white-space: nowrap;
}

.timeline-feed {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

@keyframes searchfield {
    0% {
        
    }
}



