.login-page {
  width: 100vw;
  height: 100vh;
  grid-column: 1 / 3 !important;
  background-color: white;
}
.login-page-forms{
  display: grid;
  grid-template-columns: 50% 50%;
}

.login-form {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.login-mesh-gradient {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  z-index: 50;
  transition: 0.5s all ease-in-out;
}

.login-mesh-gradient img {
  width: 50vw;
  height: 100vh;
}

.form-cnt h1 {
  font-size: 50px;
}

.password-cnt p,
.username-cnt p {
  font-weight: 100;
  font-size: 16px;
  margin-top: 40px;
  color: rgb(122, 122, 122);
  margin-bottom: 10px;
}

.login-form input,
.signup-form input {
  border-style: none;
  border-bottom: 1px solid black;
  width: 20vw;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
}

.signup-tag {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 100;
  color: rgb(122, 122, 122);
}

.signup-form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.submit-btn {
  background-color: white;
}


.login-mesh-gradient.animate {
  transform: translateX(-100%);
}


