.login-page {
  display: flex;
  grid-column: 1 / 3 !important;
  background-color: white;
}

.login-form {
  width: 50vw;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.login-mesh-gradient {
  width: 50vw;
}

.login-mesh-gradient img {
  width: 50vw;
  height: 100vh;
}

.form-cnt h1 {
  font-size: 50px;
}

.password-cnt p,
.username-cnt p {
  font-weight: 100;
  font-size: 16px;
  margin-top: 40px;
  color: rgb(122, 122, 122);
  margin-bottom: 10px;
}

.login-form input,
.signup-form input {
  border-style: none;
  border-bottom: 1px solid black;
  width: 20vw;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
}

.signup-tag {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 100;
  color: rgb(122, 122, 122);
}

.signup-form {
  height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: calc(50vw + 100px);
  opacity: 0;
}

.submit-btn {
  background-color: white;
}


.login-mesh-gradient.animate {
  animation: mesh-animation 0.4s forwards ease-in-out;
}

.login-form.animate {
  animation: form-animation 0.4s forwards ease-in-out;
}

.signup-form.animate {
  animation: signup-animation 0.4s forwards ease-in-out;
  opacity: 1;
  margin-left: 0;
}


@keyframes mesh-animation {
  0% {
    position: absolute;
    margin-left: 50vw;
  }

  100% {
    position: absolute;
    margin-left: 0;
  }
}

@keyframes form-animation {
  0% {
    opacity: 1;
    height: 100vh;
    margin-left: 0;
  }

  50% {
    opacity: 0;
  }

  99% {
    opacity: 0;
    margin-left: 50vw;
    height: 100vh;
  }

  100% {
    display: none;
  }
}

@keyframes signup-animation {
  0% {
    opacity: 0;
    height: 100vh;
    display: flex;
  }

  70% {
    opacity: 0;
  }

  100% {
    position: absolute;
    display: flex;
    opacity: 1;
    margin-left: calc(50vw + 100px);
  }
}
