.profilepicture-container {
  position: relative;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profilepicture-details {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
    min-height: 60px;
  min-width: 160px;
  padding: 0 30px;
  display: none;
  margin-bottom: 70px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.profilepicture-details p {
  font-size: 16px;
}

.profilepicture-container:hover .profilepicture-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-profile {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}




.profilepicture-container.color1 {
  background-color: var(--blue);
}

.profilepicture-container.color2 {
  background-color: var(--orange);
}

.profilepicture-container.color3 {
  background-color: var(--green);
}

.profilepicture-container.color4 {
  background-color: var(--alert-red);
}

