
@media screen and (min-width: 1501px){
    .post-form .text-content,.text-content-container {
        height: 275px;
    }
    .post-form .tab-button {
        padding: 4px 25px;
    }
    .entity-tag {
        padding: 4px 20px;
        border-radius: 7px;
    }
    .post-form .post-content {
        gap: 15px;
    }
    .user-search {
        margin-bottom: 50px;
    }
    .recipient-tag {
        margin-top: 35px;
    }
    .user-recipient {
        white-space: nowrap;
    }
}
@media screen and (max-width: 1500px){
    .post-form .text-content, .text-content-container {
        height: 175px;
    }
    .post-form .tab-button {
        padding: 2px 20px;
    }
    .entity-tag {
        padding: 2px 18px;
        border-radius: 5px;
    }
    .post-form .post-content {
        gap: 5px;
    }
    .recipient-tag {
        margin-top: 35px;
    }
    .user-recipient {
        white-space: nowrap;
    }
}
@media screen and (max-width: 900px){
    .post-form .text-content, .text-content-container {
        height: 250px;
    }
    .post-form .tab-button {
        padding: 4px 25px;
    }
    .entity-tag {
        padding: 2px 16px;
        border-radius: 7px;
    }
    .post-form .post-content {
        gap: 15px;
    }
    .recipient-tag {
        margin-top: 50px;
    }
    .user-search {
        margin-bottom: 50px;
    }
    .user-search-field {
        width: 100% !important;
    }
    .user-list {
        width: 100% !important;
    }
    .user-recipient {
        white-space: normal;
    }
}


.post-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.post-form .post-content {
    display: flex;
    flex-direction: column;
}

.post-form .button-row {
    display: flex;
    gap: 1%;
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 8px;
}
.post-form .button-row::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border: solid 3px transparent;
    height: 5px;
}
.post-form .button-row::-webkit-scrollbar {
    height: 5px;
}

.post-form .submit-row {
    display: flex;
    justify-content: right;
    gap: 5%;
}

.post-form .input {
    width: 50%;
}
.post-form .input::placeholder {
    color: lightgray;
}

.post-form .text-content-container {
    position: relative;
}
.post-form .text-content {
    width: 100% !important;
    resize: none;
    border-radius: 5px;
    padding: 5px 10px;
    overflow-y: scroll;
}

.text-content-meta {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    padding: 2px;
    border-radius: 30px;
}
.text-content-meta p {
    width: 75px;
    text-align: right;
    margin: auto 0 auto 0;
    font-size: .8rem;
    font-weight: bold;
    color: #c7c7c7;
}
.text-limit-reached {
    color: var(--alert-red) !important;
}
.post-form .round-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: none;
    transition: .05s ease-in-out all;
}
.post-form .round-toggle:hover {
    cursor: pointer;
    opacity: .8;
}

.post-form .button-active {
    background: linear-gradient(90deg, #496cda 0%, #6ca5f1 100%);
    color: white;
}
.post-form .button-inactive {
    color: darkgray;
    background-color: lightgray;
}

/**
APP.css
 */
.subsubtitle {
    font-style: normal;
    font-weight: 600;
    font-size: .9rem;
    color: #c1c1c1;
}

.entity-tag {
    border-style: none;
    font-weight: 600;
    font-size: .7rem;
    transition: opacity .1s ease-in-out;
    white-space: nowrap;
}
.entity-tag:hover {
    cursor: pointer;
    opacity: .8;
}
.entity-tag:disabled {
    opacity: .45;
}

.group-tag-active {
    color: var(--orange);
    background-color: white;
    border: solid 2px var(--orange);
}
.topic-tag-active {
    color: var(--green);
    background-color: white;
    border: solid 2px var(--green);
}
.group-tag-inactive {
    background-color: var(--orange);
    color: white;
    border: solid 2px var(--orange);
}
.topic-tag-inactive {
    background-color: var(--green);
    color: white;
    border: solid 2px var(--green);
}

.scroll-vertical {
    overflow-Y: scroll;
}
::-webkit-scrollbar {
    width: 0;
}


.user-search {
    position: relative;
    display: flex;
    height: 75px;
    width: 100%;
}
.user-search-container {
    display: flex;
    width: 100%;
}
.user-search p {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.user-search-field {
    padding: 5px 5px;
    border: none;
    border-bottom: 1px solid black;
    background-color: inherit;
    width: 75%;
    height: 60%;
    margin: auto 0;
}
.user-search-icon {
    width: 30px;
    height: auto;
    cursor: pointer;
    margin-left: 10px;
}
.user-list {
    position: absolute;
    top: 60px;
    left: 0;
    width: 75%;
    background-color: white;
    z-index: 50;
}
.user-list-item {
    display: flex;
    gap: 2%;
    padding: 10px;
    border: solid 1px lightgray;
    transition: .1s ease-in-out;
    width: 100%;
}
.user-list-item p {
    margin: auto 0 auto 0;
}
.user-list-item:hover {
    background-color: #e8ebf1;
    cursor: pointer;
}

.user-search .post-profile-pic {
    min-width: 50px !important;
    margin: auto 10px auto 0;
}


.user-recipient {
    display: flex;
    gap: 2%;
    padding: 10px;
    border: solid 1px lightgray;
    transition: .1s ease-in-out;
    max-width: 100%;
    border-radius: 40px;
}
.user-recipient button {
    margin: auto 15px auto auto;
    min-width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: transparent;
    color: var(--blue);
    border: none;
    transition: .15s ease-in-out;
    font-size: 1.2rem;
}
.user-recipient button:hover {
    cursor: pointer;
    background-color: #edeaea;
}


@keyframes border-blink {
    from, to {
        outline-color: transparent
    }
    0% {
        outline-color: #ff3434
    }
    30% {
        outline-color: #ff3232
    }
    40% {
        outline-color: #ff4343
    }
    50% {
        outline-color: #ff5757
    }
    60% {
        outline-color: #f86161
    }
    70% {
        outline-color: #fd9292
    }
    80% {
        outline-color: #fdaaaa
    }
    90% {
        outline-color: #fdd2d2
    }
}
.border-blink{
    outline:2px solid transparent;
    -webkit-animation: border-blink 1s step-end;
    animation: border-blink 1s step-end;
    /* add 'border-color: transparent' if you wish no border to show initially */
}